<h1>Navigation</h1>

<section class="section">
	<h2>Breadcrumbs</h2>

	<ol class="breadcrumb">
	  <li><a href="">Home</a></li>
	  <li><a href="">Library</a></li>
	  <li class="active">Data</li>
	</ol>
</section>

<section class="section">
	<h2>Pagination</h2>

	<nav>
	  <ul class="pagination">
	    <li>
	      <a href="" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="">1</a></li>
	    <li><a href="">2</a></li>
	    <li><a href="">3</a></li>
	    <li><a href="">4</a></li>
	    <li><a href="">5</a></li>
	    <li>
	      <a href="" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</section>

<section class="section">
	<h2>Tabs</h2>

	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="">Home</a></li>
	  <li role="presentation"><a href="">Profile</a></li>
	  <li role="presentation"><a href="">Messages</a></li>
	</ul>
</section>

<section class="section">
	<h2>Pills</h2>

	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="">Home</a></li>
	  <li role="presentation"><a href="">Profile</a></li>
	  <li role="presentation"><a href="">Messages</a></li>
	</ul>
</section>